<div class="itemhols">

<% if current_user.admin?  %>
<% @users.each do |user| %>

<p>Id <%= user.id %></p>
<p>Id <%= user.email %></p>
<p>Role <%= user.admin %></p>
<a href="/makeadmin/<%= user.id %>" class="button">Make <%= user.email %> Admin</a>
<a href="/removeadmin/<%= user.id %>" class="button">Remove <%= user.email %> Admin</a>
<% end %>

<% end %>

</div>