<% provide(:title, "Home Page") %>

<div class="mainCont">
    
    
    
<%= image_tag("golfswing.jpg", alt: "Welcome Logo", :class => "welcomeIm") %>    
    
    
<h1>Home</h1>
<p>Welcome to your first home page!</p>
<br>
<br>
<p>user presses a button 
    app goes to url
    goes to routes
    goes to controller
    method
    method executes logic
    sends back to view</p>
</div>

</br></br>
<div class="mainCont">
    <h1>Categories</h1>
     
      <% @categories.each do |category| %>
     
     <div class="itemhols">
         
         <h1><%= category.title %></h1>
        <a href="/category/<%= category.title %>"> <img src="/assets/<%= category.image %>" alt="<%= category.title %>" /> </a>
         <p><%= category.description %></p>
         </div>
    
     <% end %>
    </div>
